p {
  font-size: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.hoje {
  color: darkblue;
}
.amanha {
  color: darkred;
}
html {
  font-family: Arial;
}
body h2 a {
  color: darkgreen;
}
